

/*It was easier to control column fonts from placement.scss*/

.heading{
  font-family:"Book Antiqua";
  font-size: xx-large;
  color: crimson;
}

label {
  font-family: "Book Antiqua";
  font-size:15px;
  color:white;
  padding:5px;
}

input {
  padding:5px;
}